.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.model-content-wrapper {
  width: 100%;
  max-width: 640px;
  height: auto;
  border-radius: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.modal-head {
  display: flex;
  flex-direction: row-reverse;
}
.model-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 28px 80px;
}
.warning-cross {
  background-color: #ee5c51;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.combobox-wrapper {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: SF Pro Display;
  text-align: left;
}
.dropdown {
  position: relative;
  width: 320px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 8px 12px;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 6px;
  top: 38px;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  gap: 24px;
}
@media only screen and (max-width: 768px) {
  .modal-overlay {
    right: 30px;
  }
  .model-content-wrapper {
    max-width: 360px;
  }
  .model-content {
    padding: 14px 28px;
  }
  .btn-wrapper {
    margin-top: 32px;
  }
}
