/* Header, footer, main content styles, layout and structure of the main App */
main {
  display: flex;
  width: 100%;
  padding: 64px 88px;
  justify-content: center;
  align-items: center;
  background: #f9f9fe;
  height: 100%;
}

.page-container {
  border-radius: 16px;
  background: #fff;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 72% 28%;
  max-width: 1440px;
  position: relative;
}
